/* Establecer margen y relleno a 0 para el body */
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
/* Establecer fuente y color de fondo */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Cambiar la fuente a tu preferencia */
  background-color: white; /* Cambiar el color de fondo a tu preferencia #F5F5F5 */
}

/* Establecer altura y ancho al 100% para ocupar todo el espacio */
body {
  height: 100vh; /* Establecer altura al 100% de la altura de la ventana */
  width: 100vw; /* Establecer ancho al 100% del ancho de la ventana */
}

/* Establecer estilos de texto predeterminados */
body {
  color: #000000; /* Cambiar el color del texto a tu preferencia */
  font-size: 16px; /* Cambiar el tamaño de fuente a tu preferencia */
  line-height: 1.6; /* Cambiar el espaciado entre líneas a tu preferencia */
}

/* Establecer margen interno para evitar que los elementos se peguen a los bordes del body */
body {
  padding: 5px; /* Cambiar el margen interno a tu preferencia */
}
  

/* Barra de navegacion */

nav {
  width: 90%;
  margin: 0 auto;
  background-color: #2B2B2B;
  border-radius: 8px;
  padding: .3rem 1rem !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-container {
  justify-content: center !important;
  width: 100% !important;
  
  
}

.form-search {
  width: 50%;
  margin-left: 5rem;
  /* margin: 0 auto; */
}

.nav-container-items {
  padding: 0 !important;
  /* width: 100%;
  display: flex;
  justify-content: center; */
}

.navbar-brand {
  color: #FFFFFF;
}

.groups-nav {
  color: #FFFFFF;
}

.group-list {
  padding: 0;
  margin: 0;
  list-style-type: disc;
  display: flex;

}

.group-list li {
  display: block;
  padding: 0 0 ;
  margin: 0 0 0 1rem;
}

.group-list li:hover {
  color: #3AD1DB;
}

.group-item-nav {
  background-color: rgba(32, 32, 32, 0.9);
}

.group-item-nav li {  
  margin: .2rem 0 0 0;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  text-indent: .7rem;
}

.group-item-nav li:hover {
  color: #3AD1DB;
}


/* Span Cantidad de elementos en el Grid: */
.elements-cant {
  width: 100%;
  color: gray;
 }

/* Estilos de la grid: */

.grid-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.elements-cant {
  padding: 0 0;
  margin: .3rem 0 0 0;
}

/* estilos de las Cards */

.card {
  width: 12rem;
  height: 21rem ;
  margin: 0 0 1rem 1.5rem;
  box-shadow: 0px 0px 2px #595959 ;
}

.img-cont-card img{
  padding: 0 .1rem;
  border-radius: 6px 6px 0 0;
}

.data-cont-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title{
  margin: 0 0;
  padding: 0 .8rem;
  flex-basis: 70%;
}

.card-title h2{
  font-size: .8rem;
  margin: 1rem 0 0 0;
  text-align: center;
  font-weight: 600;
}


.card-price{
  flex-basis: 20%;
  padding: 0 0 .8rem 1rem;
}

.card-price t{
  font-size: .9rem;
  font-weight: 600;
  color: #141414 ;
}


/* Media querys */

@media screen and (max-width: 1050px) {

  .navbar {
    flex-direction: column;
  }

  .form-search {
    width: 70%;
    margin: 0 auto;
    order: 1;
    padding-bottom: .5rem;
  }
  
  .nav-container-items {
    width: 100%;
    order: 2;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }
}

@media screen and (max-width: 995px) {

  .cont {
    margin: 0 0 0 0;
    width: 100%;
  }
}